* {
  margin:0;
  padding:0;
  border:0;
  background:transparent;
  outline:none;
  text-decoration:none;
  outline:none;
  font-family:inherit;
  box-sizing:border-box;
}

ol, ul, li {
  list-style:none;
  display:block;
}

table {
  border-collapse: collapse;
  border-spacing:0;
}

a, img {
  border: none;
}

button, a {
  cursor: pointer;
  color: inherit;
}

textarea {
  resize: none;
}

/* button, input, textarea {
  appearance: none !important;
  -webkit-appearance: none !important;
} */

.App {
  text-align: center;
  font-family: 'Comfortaa', cursive;
}

input {
  height: 35px;
  margin-top: 20px;
  padding: 4px 8px;
  border: 1px solid ;
  border-radius: 2px;
  font-size: 15px;
  color: #feb952b4;
}

input::placeholder {
  color: #feb952b4;
}

.container {
  background-color: #ffff6f2e;
  margin: 40px auto 0;
  width: 60%;
  height: fit-content;
  box-shadow: 5px 5px 15px 5px;
  border-radius: 15px;
  font-size: 19px;
}

.locationName {
  position: relative;
  padding-top: 25px;
  font-size: 20px;
}

.locationName button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 8px 15px 0 0;
  font-size: 14px;
  font-weight: 300;
  color: #f5deb3;
}

.locationName button:hover {
  color: #000
}

.regionName {
  font-size: 15px;
}

.top {
  margin: 20px 0;
  padding: 0 10px;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
}

.top div:first-child {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-evenly;
  align-items: center;
}

.celsius {
  width: 130px;
  align-self: center;
  padding: 0 70px;
  font-size: 60px;
  font-weight: 300;
}

img {
  height: 80px;
  width: 90px;
  object-fit: cover;
}

.conditionText {
  align-self: center;
  width: fit-content;
  font-size: 26px;
  font-weight: 700;
}

.bottom {
  margin: 40px auto 20px;
  padding: 0 10px;
  display: flex;
  justify-content: space-evenly;
}

.bottom div {
  width: fit-content;
  padding: 0 10px;
}

.localTime {
  padding: 15px 0 0 0;
}

.foreCastContainer {
  position: relative;
  width: 80%;
  margin: 10px auto 0;
  display: flex;
}

.react-multi-carousel-list {
  position: static !important;
  margin: 0 auto;
  height: 100px;
  width: 100%;
}

.time {
  font-size: 14px;
}

.react-multiple-carousel__arrow--left {
  position: absolute;
  left: -8% !important;
}  

.react-multiple-carousel__arrow--right {
  position: absolute;
  right: -8% !important;
}  

hr {
  margin: 10px auto;
  width: 70%;
  border: 1px solid #f5deb3;
  opacity: 0.3;
}  

.threeDayForecastContainer {
  padding: 15px 0;
  display: flex;
  justify-content: space-evenly;
  font-weight: 300;
}

.threeDayForecast div:first-child {
  font-size: 15px;
}

@media screen and (max-width: 960px) {
  .bottom div {
    padding: 0 10px;
  }
}

@media screen and (max-width: 900px) {
  .bottom div:nth-child(3) {
    text-align: center;
  }
}

@media screen and (max-width: 815px) {
  .top {
    margin: 20px 0;
  }

  .bottom {
    margin: 20px auto;
    flex-direction: column;
  }

  .bottom div {
    align-self: center;
  }
}

@media screen and (max-width: 710px) {
  .top {
    flex-direction: column;
  }
}

@media screen and (max-width: 450px) {
  .top {
    padding: 80px 0;
  }
  
  .top div:first-child {
    flex-direction: column;
  }  

  .celsius {
    padding-top: 10px;
    font-size: 50px;
  }

  .conditionText {
    padding-bottom: 10px;
  }
  
  img {
    width: 70px;
  }
}
